POSTGRES_DB=service_tracker
POSTGRES_USER=chatbot_admin
POSTGRES_PASSWORD=troque_esta_senha
API_KEY=troque_esta_chave
TAPE_API_TOKEN=troque_este_token
N8N_ENCRYPTION_KEY=troque_esta_chave
TAPE_SYNC_SCHEDULE_ENABLED=true
TAPE_SYNC_INTERVAL_HOURS=24
TAPE_SYNC_RUN_ON_STARTUP=false
